In [1]:
import pandas as pd
total = pd.read_csv("hotel_bookings.csv")

In [2]:
total.columns

Index(['hotel', 'is_canceled', 'lead_time', 'arrival_date_year',
       'arrival_date_month', 'arrival_date_week_number',
       'arrival_date_day_of_month', 'stays_in_weekend_nights',
       'stays_in_week_nights', 'adults', 'children', 'babies', 'meal',
       'country', 'market_segment', 'distribution_channel',
       'is_repeated_guest', 'previous_cancellations',
       'previous_bookings_not_canceled', 'reserved_room_type',
       'assigned_room_type', 'booking_changes', 'deposit_type', 'agent',
       'company', 'days_in_waiting_list', 'customer_type', 'adr',
       'required_car_parking_spaces', 'total_of_special_requests',
       'reservation_status', 'reservation_status_date'],
      dtype='object')

In [3]:
pd.set_option('display.max_rows', None)

In [5]:
total.head(20)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015,July,27,1,0,2,2,...,No Deposit,NaN,NaN,0,Transient,107.00,0,0,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015,July,27,1,0,2,2,...,No Deposit,303.0,NaN,0,Transient,103.00,0,1,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015,July,27,1,0,3,2,...,No Deposit,240.0,NaN,0,Transient,82.00,0,1,Canceled,2015-05-06
9,Resort Hotel,1,75,2015,July,27,1,0,3,2,...,No Deposit,15.0,NaN,0,Transient,105.50,0,0,Canceled,2015-04-22
10,Resort Hotel,1,23,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,123.00,0,0,Canceled,2015-06-23
11,Resort Hotel,0,35,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,145.00,0,0,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,154.77,0,1,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,241.0,NaN,0,Transient,94.71,0,0,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015,July,27,1,0,4,2,...,No Deposit,240.0,NaN,0,Transient,97.00,0,3,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015,July,27,1,0,4,2,...,No Deposit,8.0,NaN,0,Contract,97.50,0,0,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015,July,27,1,0,1,2,...,No Deposit,240.0,NaN,0,Transient,88.20,0,0,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015,July,27,1,0,1,2,...,No Deposit,NaN,110.0,0,Transient,107.42,0,0,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015,July,27,1,0,4,2,...,No Deposit,250.0,NaN,0,Transient,153.00,0,1,Check-Out,2015-07-05

In [6]:
total.count()

hotel                             119390
is_canceled                       119390
lead_time                         119390
arrival_date_year                 119390
arrival_date_month                119390
arrival_date_week_number          119390
arrival_date_day_of_month         119390
stays_in_weekend_nights           119390
stays_in_week_nights              119390
adults                            119390
children                          119386
babies                            119390
meal                              119390
country                           118902
market_segment                    119390
distribution_channel              119390
is_repeated_guest                 119390
previous_cancellations            119390
previous_bookings_not_canceled    119390
reserved_room_type                119390
assigned_room_type                119390
booking_changes                   119390
deposit_type                      119390
agent                             103050
company                             6797
days_in_waiting_list              119390
customer_type                     119390
adr                               119390
required_car_parking_spaces       119390
total_of_special_requests         119390
reservation_status                119390
reservation_status_date           119390
dtype: int64

In [12]:
first_clean = total[(total['adults'] > 1)]
# temp = totalData[(totalData['Vehicle Expiration Date'] > 0) & (totalData['Vehicle Expiration Date'] < 88880087)]

In [13]:
first_clean.count()

hotel                             95960
is_canceled                       95960
lead_time                         95960
arrival_date_year                 95960
arrival_date_month                95960
arrival_date_week_number          95960
arrival_date_day_of_month         95960
stays_in_weekend_nights           95960
stays_in_week_nights              95960
adults                            95960
children                          95956
babies                            95960
meal                              95960
country                           95774
market_segment                    95960
distribution_channel              95960
is_repeated_guest                 95960
previous_cancellations            95960
previous_bookings_not_canceled    95960
reserved_room_type                95960
assigned_room_type                95960
booking_changes                   95960
deposit_type                      95960
agent                             87007
company                            2019
days_in_waiting_list              95960
customer_type                     95960
adr                               95960
required_car_parking_spaces       95960
total_of_special_requests         95960
reservation_status                95960
reservation_status_date           95960
dtype: int64

In [19]:
# df.drop(
#     index=["todd", "kyle"],
# )
second_clean = first_clean[first_clean.reservation_status != 'Canceled']
second_clean.count()

hotel                             59276
is_canceled                       59276
lead_time                         59276
arrival_date_year                 59276
arrival_date_month                59276
arrival_date_week_number          59276
arrival_date_day_of_month         59276
stays_in_weekend_nights           59276
stays_in_week_nights              59276
adults                            59276
children                          59276
babies                            59276
meal                              59276
country                           59130
market_segment                    59276
distribution_channel              59276
is_repeated_guest                 59276
previous_cancellations            59276
previous_bookings_not_canceled    59276
reserved_room_type                59276
assigned_room_type                59276
booking_changes                   59276
deposit_type                      59276
agent                             52739
company                            1589
days_in_waiting_list              59276
customer_type                     59276
adr                               59276
required_car_parking_spaces       59276
total_of_special_requests         59276
reservation_status                59276
reservation_status_date           59276
dtype: int64

In [22]:
third_clean = second_clean[second_clean.is_canceled != 1]
third_clean.count()

D:\Anaconda3\lib\site-packages\pandas\core\ops\array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

hotel                             59276
is_canceled                       59276
lead_time                         59276
arrival_date_year                 59276
arrival_date_month                59276
arrival_date_week_number          59276
arrival_date_day_of_month         59276
stays_in_weekend_nights           59276
stays_in_week_nights              59276
adults                            59276
children                          59276
babies                            59276
meal                              59276
country                           59130
market_segment                    59276
distribution_channel              59276
is_repeated_guest                 59276
previous_cancellations            59276
previous_bookings_not_canceled    59276
reserved_room_type                59276
assigned_room_type                59276
booking_changes                   59276
deposit_type                      59276
agent                             52739
company                            1589
days_in_waiting_list              59276
customer_type                     59276
adr                               59276
required_car_parking_spaces       59276
total_of_special_requests         59276
reservation_status                59276
reservation_status_date           59276
dtype: int64